<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../resources/font-awesome/css/font-awesome.css">
        <link rel="stylesheet" href="../resources/css/default-stylesheet.css">
        <link rel="stylesheet" href="../resources/css/registration.css">
        <link rel="icon" href="../resources/img/favicon.ico" type="image/x-icon">
        <title>Registration</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta name="author" content="Connor Gillespie and Hugh Duong-Tran-Tien">
	    <meta name="description" content="placeholder">
        <script src="../resources/js/validate_registration.js"></script>
    </head>
    <body>
        <!-- SECTION 1: Header -->
        <header>
            <div id="navbar">
                <ul class="navbar-item-container">
                    <li class="navbar-item"><a class="navbar-link" href="./index.html"><span class="fa fa-home"></span> Home</a></li>
                    <li class="navbar-item"><a class="navbar-link" href="./search.html"><span class="fa fa-search"></span> Search</a></li>
                    <li class="navbar-item"><a class="navbar-link" href="./registration.html"><span class="fa fa-user-plus"></span> Register</a></li>
                </ul>
            </div>
            <div id="page-header">
                <h1><span class="fa fa-user-plus"></span> Registration</h1>
            </div>
        </header>
        <div id="page-container">
            <!-- SECTION 2: Content -->
            <div id="content">
                <div class="error-message">
                    <span class="error username-short-error"><span class="fa fa-exclamation-triangle"></span> Please choose a username with <strong>5 or more</strong> characters<br></span>
                    <span class="error username-long-error"><span class="fa fa-exclamation-triangle"></span> Please choose a username with <strong>16 or fewer</strong> characters<br></span>
                    <span class="error password-short-error"><span class="fa fa-exclamation-triangle"></span> Please choose a password with <strong>5 or more</strong> characters<br></span>
                    <span class="error password-long-error"><span class="fa fa-exclamation-triangle"></span> Please choose a password with <strong>22 or fewer</strong> characters<br></span>
                    <span class="error password-number-error"><span class="fa fa-exclamation-triangle"></span> Please choose a password with <strong>2 or more</strong> numbers<br></span>
                    <span class="error gender-error"><span class="fa fa-exclamation-triangle"></span> Please <strong>select a gender</strong><br></span>
                    <span class="age-error"><span class="fa fa-exclamation-triangle"></span> Please <strong>select a date of birth</strong><br></span>
                    <span class="age-young-error"><span class="fa fa-exclamation-triangle"></span> Please select a date of birth <strong>before 2010</strong><br></span>
                    <span class="age-old-error"><span class="fa fa-exclamation-triangle"></span> Please select a date of birth <strong>after 1917</strong><br></span>
                    <span class="agree-error"><span class="fa fa-exclamation-triangle"></span> You must agree to our <strong>Terms and Conditions</strong><br></span>
                </div>
                <form action="./index.html" id="registration-form" onsubmit="return validate();" onchange="resetError();">
                    <input type="email" class="email-field" name="email" placeholder="Email" onclick="resetError();"></input><br>
                    <input type="text" class="username-field" name="username" placeholder="Username" onclick="resetError();"></input><br>
                    <input type="password" class="password-field" name="password" placeholder="Password" onclick="resetError();"></input><br>
                    <input type="date" class="birth-picker" name="birth" onclick="resetError();"><br>
                    <input type="radio" class="male-radio" name="gender" value="male" onclick="resetError();"> Male
                    <input type="radio" class="female-radio" name="gender" value="female" onclick="resetError();"> Female
                    <input type="radio" class="other-radio" name="gender" value="other" onclick="resetError();"> Other<br>
                    <input type="checkbox" class="agree-checkbox" name="agree" onclick="resetError();"> I agree to the <a href="">Terms and Conditions</a><br>
                    <input type="submit" value="Register" />
                </form>
            </div>
            <!-- SECTION 3: Footer -->
            <footer id="footer">
                <hr class="footer-separator">
                <p><span class="fa fa-users"></span> Website by Connor Gillespie and Hugh Duong-Tran-Tien</p>
                <p><span class="fa fa-font-awesome"></span> Icons by <a href="http://fontawesome.io">Font Awesome</a></p>
            </footer>
        </div>
    </body>
</html>