<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Registration</title>
        <link rel="stylesheet" href="../resources/css/default-stylesheet.css">
        <link rel="stylesheet" href="../resources/css/registration.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta name="author" content="Connor Gillespie and Hugh Duong-Tran-Tien">
	    <meta name="description" content="placeholder">
    </head>
    <body>
        <!-- SECTION 1: Header -->
        <header>
            <div id="navbar">
                <ul class="navbar-item-container">
                    <li class="navbar-item"><a class="navbar-link" href="./index.html">Home</a></li>
                    <li class="navbar-item"><a class="navbar-link" href="./search.html">Search</a></li>
                    <li class="navbar-item"><a class="navbar-link" href="./registration.html">Register</a></li>
                </ul>
            </div>
            <div id="page-header">
                <h1>Registration</h1>
            </div>
        </header>
        <div id="page-container">
            <!-- SECTION 2: Content -->
            <div id="content">
                <form action="./index.html">
                    <!-- TODO: style the form -->
                    <!-- TODO: use javascript validation -->
                    <!-- TODO: add labels to each option instead of placeholders -->
                    <!-- Unsure what to do with the checkboxes or the number picker -->
                    <input type="email" name="email" placeholder="Email" required></input><br>
                    <input type="text" name="username" placeholder="Username" required></input><br>
                    <input type="password" name="password" placeholder="Password" required></input><br>
                    <input type="radio" name="gender" value="male" checked> Male<br>
                    <input type="radio" name="gender" value="female"> Female<br>
                    <input type="radio" name="gender" value="other"> Other<br>
                    <input type="checkbox" name="op1" value="op1"> Option1<br>
                    <input type="checkbox" name="op2" value="op2"> Option2<br>
                    <input type="date" name="birth"><br>
                    <input type="number" name="" min="1" max="10" placeholder="??"><br>
                    <input type="submit" value="Register" />
                </form>
            </div>
            <!-- SECTION 3: Footer -->
            <footer id="footer">
                <hr class="footer-separator">
                <p>Website by Connor Gillespie and Hugh Duong-Tran-Tien</p>
            </footer>
        </div>
    </body>
</html>