<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Sample Item</title>
        <link rel="stylesheet" href="../resources/css/default-stylesheet.css">
        <link rel="stylesheet" href="../resources/css/sample-item.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta name="author" content="Connor Gillespie and Hugh Duong-Tran-Tien">
	    <meta name="description" content="placeholder">
    </head>
    <body>
        <!-- SECTION 1: Header -->
        <header>
            <div id="navbar">
                <ul class="navbar-item-container">
                    <li class="navbar-item"><a class="navbar-link" href="./index.html">Home</a></li>
                    <li class="navbar-item"><a class="navbar-link" href="./search.html">Search</a></li>
                    <li class="navbar-item"><a class="navbar-link" href="./registration.html">Register</a></li>
                </ul>
            </div>
            <div id="page-header">
                <h1>Sample Item</h1>
            </div>
        </header>
        <div id="page-container">
            <!-- SECTION 2: Content -->
            <div id="content">
                <div class="row">
                    <div id="results-container">
                        <div id="description">
                            <h1>7th Brigade Park</h1>
                            <h2> Chermside </h2>
                        </div> 
                        <div class="slider-container">
                            <img class="slides" src="../resources/img/sample-item-1-img.jpg" alt="sample-image01">
                            <img class="slides" src="../resources/img/sample-item-3-img.jpg" alt="sample-image02">
                            <img class="slides" src="../resources/img/sample-item-4-img.jpg" alt="sample-image03">
                            
                            <button class="button-left" onclick="plusDivs(-1)">&#10094;</button>
                            <button class="button-right" onclick="plusDivs(1)">&#10095;</button>
                        </div>
                        <div id="description">
                                <i>While this park boasts one of the northside's largest fort-like playgrounds (known as Kidspace), an exploration of the expansive 7th Brigade Park reveals it has much more to offer</i>
                                <h2>Description</h2>
                                <p>The Downfall Creek Bikeway runs through the park making this one a very popular track for runners and bike riders. The park also has a rebound wall, half-court basketball court, and a couple of cricket pitches on the ovals for those looking for some organised sport. There are many great spots for a picnic or BBQ throughout the park, and also a dog off-leash area which is popular with the locals.</p>
                            <div class="description-text">    
                                <h4>Venue Information</h4>
                                <strong>7th Brigade Park</strong>
                                <p>Phone: 07 3403 8888</p>
                                <p>Website:<a href="www.brisbane.qld.gov.au/facilities-recreation/parks-venues/parks/parks-suburb/chermside-parks/" target="_blank" >www.brisbane.qld.gov.au/facilities-recreation/parks-venues/parks/parks-suburb/chermside-parks</a></p>
                                </div>    
                            <div class="description-text">    
                                <h4>Location</h4>
                                <p>Address: Corner Murphy Road and Newman Road</p>
                                <p>City: Chermside 4032</p>
                                </div>
                            </div>  
                    </div>
            <!-- Comment Section-->
                    <div id="comment"> </div>
                </div>
            </div>
            <!-- SECTION 3: Footer -->
            <footer id="footer">
                <hr class="footer-separator">
                <p>Website by Connor Gillespie and Hugh Duong-Tran-Tien</p>
            </footer>
        </div>
        <!--JAVASCRIPT FOR SLIDER-->
        <script>
        var slideIndex = 1;
        showDivs(slideIndex);
        function plusDivs(n) {
          showDivs(slideIndex += n);
        }
        function showDivs(n) {
          var i;
          var x = document.getElementsByClassName("slides");
          if (n > x.length) {slideIndex = 1}    
          if (n < 1) {slideIndex = x.length}
          for (i = 0; i < x.length; i++) {
             x[i].style.display = "none";  
          }
          x[slideIndex-1].style.display = "block";  
        }
        </script>
    </body>
</html>