<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Search</title>
        <link rel="stylesheet" href="../resources/css/default-stylesheet.css">
        <link rel="stylesheet" href="../resources/css/search.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta name="author" content="Connor Gillespie and Hugh Duong-Tran-Tien">
	    <meta name="description" content="placeholder">
        <script src="../resources/js/geolocation.js"></script>
    </head>
    <body>
        <!-- SECTION 1: Header -->
        <header>
            <div id="navbar">
                <ul class="navbar-item-container">
                    <li class="navbar-item"><a class="navbar-link" href="./index.html">Home</a></li>
                    <li class="navbar-item"><a class="navbar-link" href="./search.html">Search</a></li>
                    <li class="navbar-item"><a class="navbar-link" href="./registration.html">Register</a></li>
                </ul>
            </div>
            <div id="page-header">
                <h1>Search</h1>
            </div>
        </header>
        <div id="page-container">
            <!-- SECTION 2: Content -->
            <div id="content">
                <form action="./sample-results.html">
                    <!-- TODO: style the form -->
                    <!-- Unsure about rating - the dataset does not have any column for park rating -->
                    <select>
                        <option value="">suburb1</option>
                        <option value="">suburb2</option>
                        <option value="">suburb3</option>
                        <option value="">suburb4</option>
                    </select><br>
                    <input type="text" name="name" placeholder="Name" required></input><br>
                    <input type="text" name="rating" placeholder="Rating ???" required></input><br>
                    <button onclick="getLocation()">Get my Location</button>
                    <input type="submit" value="Search" />
                </form>
            </div>
            <!-- SECTION 3: Footer -->
            <footer id="footer">
                <hr class="footer-separator">
                <p>This is a footer</p>
            </footer>
        </div>
    </body>
</html>