<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../resources/font-awesome/css/font-awesome.css">
        <link rel="stylesheet" href="../resources/css/default-stylesheet.css">
        <link rel="stylesheet" href="../resources/css/search.css">
        <link rel="icon" href="../resources/img/favicon.ico" type="image/x-icon">
        <title>Search</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta name="author" content="Connor Gillespie and Hugh Duong-Tran-Tien">
	    <meta name="description" content="placeholder">
        <script src="../resources/js/geolocation.js"></script>
        <script src="../resources/js/validate_search.js"></script>
    </head>
    <body>
        <!-- SECTION 1: Header -->
        <header>
            <div id="navbar">
                <ul class="navbar-item-container">
                    <li class="navbar-item"><a class="navbar-link" href="./index.html"><i class="fa fa-home"></i> Home</a></li>
                    <li class="navbar-item"><a class="navbar-link" href="./search.html"><i class="fa fa-search"></i> Search</a></li>
                    <li class="navbar-item"><a class="navbar-link" href="./registration.html"><i class="fa fa-user-plus"></i> Register</a></li>
                </ul>
            </div>
            <div id="page-header">
                <h1><i class="fa fa-search"></i> Search</h1>
            </div>
        </header>
        <div id="page-container">
            <!-- SECTION 2: Content -->
            <div id="content">
                <div class="error-message">
                    <span class="error name-error"><i class="fa fa-exclamation-triangle"></i> Please provide a <strong>park name</strong><br></span>
                    <span class="error suburb-error"><i class="fa fa-exclamation-triangle"></i> Please select a <strong>suburb</strong><br></span>
                    <span class="error rating-error"><i class="fa fa-exclamation-triangle"></i> Please choose a <strong>park rating</strong><br></span>
                    <span class="error rating-num-error"><i class="fa fa-exclamation-triangle"></i> Please choose a park rating between <strong>1 and 5</strong><br></span>
                </div>
                <form action="./sample-results.html" id="search-form" onsubmit="return validate();">
                    <input type="text" class="name-field" name="name" placeholder="Name of Park" onchange="resetError();"></input><br>
                    <select class="suburb-picker" name="suburb">
                        <option value="default" id="default" onchange="resetError();" disabled selected>Select a Suburb</option>
                        <option value="1">Example Suburb</option>
                        <option value="2">Example Suburb</option>
                        <option value="3">Example Suburb</option>
                    </select>
                    <input type="number" name="rating" class="rating-picker" placeholder="Rating" step="0.5" min="1" max="5" onchange="resetError();"><br>
                    <button onclick="getLocation()">Get my Location</button>
                    <input type="submit" value="Search" />
                </form>
            </div>
            <!-- SECTION 3: Footer -->
            <footer id="footer">
                <hr class="footer-separator">
                <p><i class="fa fa-users"></i> Website by Connor Gillespie and Hugh Duong-Tran-Tien</p>
                <p><i class="fa fa-font-awesome"></i> Icons by <a href="http://fontawesome.io">Font Awesome</a></p>
            </footer>
        </div>
    </body>
</html>