/* This CSS file represents the formatting
 * for ONE page, the results.php page. */

/* Page Container CSS */
/* This will override the width set by default-stylesheet.css */
#page-container {
    width: 1040px;
}
#content {
    text-align: center;
}

table {
    border-collapse: collapse;
    margin: auto;
    margin-bottom: 8px;
}

th, td {
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    padding: 8px;
}

tr:hover {
    background-color: #e6e6e6;
}

td a {
    padding: 8px;
    display: block;
    color: #3d4142;
}

/* Other CSS */
#map {
    margin-top: 0px;
    margin-bottom: 18px;
    height: 400px;
    width: 100%;
}
