/* This CSS file represents the default
 * formatting for all pages on this website */

/* Any changes to one particular page will be included in a
 * separate CSS file, typically (PAGE-NAME).css */
 
body {
    /* Set the default font for the website.
     * The browser goes through the list one font at a time,
     * until a font is found that browser can display. */
    font-family: Helvetica, Verdana, Geneva, Arial, sans-serif;
    color: #292b2c;
    background-color: #fff;
}
a { /* This represents any hyperlinks, contained inside the <a></a> tag. */
    color: #0275d8;
    text-decoration: none; /* Do not underline */
}
p { /* This represents any paragraphs, contained inside the <p></p> tag. */
    margin: 0px;
    margin-bottom: 6px;
}
input[type='text'], input[type='password'], input[type='number'], input[type='date'], select {
    margin-top: 1px;
    margin-bottom: 6px;
    margin-left: 4px;
    margin-right: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 3px;
}
input[type='date'] {
    padding-top: 2px;
    padding-bottom: 1px;
}
select {
    padding-top: 4px;
    padding-bottom: 3px;
}
button[type='button'], input[type='submit'] {
    cursor: pointer;
    padding: 6px 8px 6px 8px;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    border: 1px solid transparent;
    border-radius: 4px;
}
button[type='button']:hover, input[type='submit']:hover {
    background-color: #2d6a9f;
}

#page-container {
    width: 1200px;

    /* The following lines of CSS allows the page to center
     * the container using the left and right margins */
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
#page-header {
    text-align: center;
}
#content {
    padding: 16px;
    background-color: #f5f5f5;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.error-message {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding: 15px;
    margin-top: 16px;
    margin-bottom: 8px;
    border-radius: 4px;
    text-align: center;
    display: none;
}
.error {
    display: none;
}

/* Navbar CSS */
#navbar {
    background-color: #f7f7f7;
    border-radius: 8px;
    margin-top: 40px;
    margin-bottom: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    width: 800px;

    /* The following lines of CSS allows the page to center
     * the container using the left and right margins */
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.navbar-link {
    margin-left: 4px;
    margin-right: 4px;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
}
.navbar-link:hover { /* This CSS is used when a user hovers over a navbar-link element */
    color: rgba(0, 0, 0, 0.9);
}
.navbar-item-container {
    margin: 0;
    padding: 0;
    list-style: none; /* Remove bullet points from unordered list */
    overflow: hidden; /* Do not allow unordered list to overflow from parent container */
}
.navbar-item {
    position: relative;
    float: left;
}
/* End Navbar CSS */


/* Footer CSS */
#footer {
    margin-bottom: 64px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    background-color: #f5f5f5;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #999999;
    font-style: italic;
}
.footer-separator {
    margin-top: 0px;
    margin-bottom: 16px;
    width: 100%;
    color: #292b2c;
}
/* End Footer CSS */