/* This CSS file represents the formatting
 * for ONE page, the sample-item.html page. */

/* Page Container CSS */
/* This will override the width set by default-stylesheet.css */
#page-container {
    width: 850px;
}
#content{
    text-align: center;
}

/* Main Image */
.slider-container{
    width: 75%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.slider-container img{
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
#slide1 { /* Initially display this image in the slideshow */
    display: block;
}
#slide2 { /* Initially hide this image in the slideshow */
    display: none;
}
#slide3 { /* Initially hide this image in the slideshow */
    display: none;
}

/* Buttons */
.button-left {
    background-color: black;
    cursor: pointer;
    position: absolute;
    top: 26%;
    left: 105px;
    border: none;
    padding-bottom: 4px;
    color: white;
    font-size: 23px;
    font-weight:bold;
}
.button-right {
    background-color: black;
    cursor: pointer;
    position: absolute;
    top: 26%;
    right: 105px;
    border: none;
    padding-bottom: 4px;
    color: white;
    font-size: 24px;
    font-weight:bold;
}

/*Description Section*/
#description{
    text-align: left;
}
.description-text li{
    margin: 10px;
}
#img-desc{
    text-align: center;
}


