/* This CSS file represents the formatting
 * for ONE page, the sample-item.html page. */

/* Page Container CSS */
/* This will override the width set by default-stylesheet.css */
#page-container {
    width: 800px;
}

/* Other CSS */
.row{
    box-sizing: border-box;
    text-align: center;
    clear: both;
    height:auto;
}

/* Main Image */
.slider-container{
    width: 75%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.slider-container img{
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 40px;
}

#slide1 { /* Initially display this image in the slideshow */
    display: block;
}

#slide2 { /* Initially hide this image in the slideshow */
    display: none;
}

#slide3 { /* Initially hide this image in the slideshow */
    display: none;
}

/* Buttons */
.button-left {
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: 36%;
    left: 164px;
    border: none;
    color: white;
    padding: 32px 32px;
    margin: 4px 2px;
    font-size: 36px;
    font-weight:bold;
}

.button-right {
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: 36%;
    right: 154px;
    border: none;
    color: white;
    padding: 32px 32px;
    margin: 4px 2px;
    font-size: 36px;
    font-weight:bold;
}

/*Description Section*/

/* Comment Section */
