/* This CSS file represents the formatting
 * for ONE page, the search.html page. */

/* Page Container CSS */
/* This will override the width set by default-stylesheet.css */
#page-container {
    width: 500px;
}
#content {
    text-align: center;
}

#search-form {
    text-align: center;
}
.name-field {
    width: 190px;
    margin-bottom: 8px;
}
.suburb-picker {
    margin-bottom: 6px;
    font: 12px Arial;
}
.suburb-picker #default {
    color:gray;
}
.rating-picker {
    padding: 1px;
    border-width: 1px;
    border-radius: 1px;
    border-style: solid;
    border-color: rgb(169, 169, 169);
    width: 54px;
    height: 15px;
    text-align: right;
}